<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="fragments/header :: head"> </th:block>
</head>
<body>
<div class="container">
    <br>
        <nav>  <th:block th:replace="fragments/nav :: nav"></th:block>   </nav>
    <br>

    <h1>FEEDBACK RECEIVED</h1>
    <br>
    <table class="table table-striped">
        <thead>
        <th scope="row">Rating</th>
        <th scope="row">Comment</th>
        </thead>
        <tbody>
            <tr th:each="feedback : ${feedbackList}">
                <td th:text="${feedback.rating}"></td>
                <td th:text="${feedback.comment}"></td> 
            </tr>
        </tbody>
    </table>

    <footer>
        <th:block th:include="fragments/footer :: footer"></th:block>
    </footer>
</div>
</body>
</html>