<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="fragments/header :: head"> </th:block>
</head>
<body>
<div class="container">
    <br>

    <nav>  <th:block th:replace="fragments/nav :: nav"></th:block>   </nav>

    <br>

    <h1>
        WELCOME TO MINI CLOTHES AUCTIONS
    </h1>
    <h4>To see newest bids <a th:href="@{/auctions/bids/all}">Click Here</a></h4>
    <br>

    <footer>
        <th:block th:include="fragments/footer :: footer"></th:block>
    </footer>
</div>
</body>
</html>