<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="fragments/header :: head"> </th:block>
</head>
<body>
<div class="container">
    <br>
    
    <nav>  <th:block th:replace="fragments/nav :: nav"></th:block>   </nav>

    <br>

    <h1>ALL AUCTIONS</h1>

    <br>

    <div class="row justify-content-center mb-3" th:each="item : ${itemlists}">
        <div class="col-md-12 col-xl-10">
            <div class="card shadow-0 border rounded-3">
            <div class="card-body" style="background-color: #fbfbfb;">
                <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-zoom ripple rounded ripple-surface"
                        style="position: relative;overflow: hidden;padding-bottom: 100%;">
                        <img
                            th:src="${item.image}"
                            alt="image"
                            th:alt="${item.itemName}"
                            class="w-100 h-100"
                            style="position:absolute; object-fit:contain"
                        />
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <h5 th:text="${item.itemName}"></h5>
                    <div class="mask text-white">
                        <div class="d-flex justify-content-start align-items-end h-100">
                            <h5><span class="badge bg-info ms-2" th:text="${item.category}"></span></h5>
                        </div>
                    </div>
                    <div class="mb-2 text-muted small">
                        <span>Item Size <span class="text-primary"> • </span>
                            <span th:text="${item.size}"></span><br />
                        </span>
                        <span>Auction Start <span class="text-primary"> • </span>
                            <span th:text="${item.bidStartDate}"></span><br />
                        </span>
                        <span>Auction End <span class="text-primary"> • </span>
                            <span th:text="${item.bidEndDate}"></span><br />
                        </span>
                    </div>
                    <p class="mb-4 mb-md-0">
                        <span
                            th:text="${#strings.abbreviate(item.description, 110)}"
                        ></span> 
                    </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                    <div class="d-flex flex-row align-items-center mb-1">
                        <h4 class="mb-1 me-1" th:text="${#numbers.formatCurrency(item.currentBid)}"></h4>
                    </div>
                    <h6 class="text-secondary" th:text="${item.totalBids + ' Bids'}"></h6>
                    <div class="d-flex flex-column mt-4">
                        <a th:href="@{/auctions/bid/{itemID}(itemID=${item.itemID})}">
                            <button sec:authorize="hasAuthority('buyer')" class="btn btn-primary btn-sm" type="button">Bid</button>
                        </a>
                        <form sec:authorize="hasAuthority('admin')" method="post" th:action="@{/auctions/delete/{itemID}(itemID=${item.itemID})}" cssClass="form">
                            <button sec:authorize="hasAuthority('admin')" class="btn btn-primary btn-sm" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <footer>
        <th:block th:include="fragments/footer :: footer"></th:block>
    </footer>
</div>
</body>
</html>